<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted">Kirby Musculoso</span>
      <img src="/img/kirby_musculos.png" alt="1">
    </div>
  </footer>
  