<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
      <span class="text-muted">Kirby Musculoso</span>
      <img src="/img/kirby_musculos.png" alt="1" width="40px" height="40px">
    </div>
  </footer>
  