<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Kirby.com</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/categorias">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quemsomos">Quem Somos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aluno">Aluno</a>
            </li>
        </ul>
    </div>
</nav>
